* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cabin', sans-serif;
  width: 100vw;
  min-height: 100vw;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
body::-webkit-scrollbar-thumb {
  background: #ADD646; 
  border-radius: 10px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #ADD646; 
}

button,
input {
  background-color: transparent;
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}